
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Grey+Qo&display=swap');

.inter-normal {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-variation-settings: "wdth" 100;
    font-style: normal;
  }

/* share style */
.color-dark-1{
    color: rgb(255, 255, 255, 0.8);
}
.color-dark-2{
    color: rgba(255, 255, 255, 0.5);
}
.display-flex{
    display: flex;
}
.text-bg-color{
    background-color: rgb(230, 83, 60);
}
.text-center{
    text-align: center;
}
.button-btn{
    font-size: 15px;
    font-weight: 600px;
    background-color:rgb(230, 83, 60);
    color:rgb(255, 255, 255);
    padding: 10px 30px 10px 30px;
    border: none;
    border-radius: 35px;
}

/* nav bare */
.brand-logo{
    font-size: 4rem;
    font-weight: 800;
    color: rgb(230, 83, 60);
    font-style: italic;
}
.navbar{
    justify-content: space-between;
    align-items: center;
}
.nav-item{
    list-style: none;
    margin: 20px;
}
.nav-item > a{
    text-decoration: none;
}
.nav-link{
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: 600px;
}
.nav-link-home{
    color: rgb(255, 255, 255);
}
 .nav-item-bar{
    display: none;

 }  
 
.body{
    color:rgb(255, 255, 255);
    margin: 0px;
}
/* header style */
.header{
    max-width: 1080px;
    padding: 20px 150px;
    background-color:rgb(17, 17, 17);
}
.header-box{
    align-items: center;
    gap: 200px;
}
.header-img img{
    width: 350px;
    height: 550px
}
.header-title{
    width: 50%;

}
.header-img{
    width: 50%;
    position: relative;
}
.header-title > h1{
    font-size: 60px;
    font-weight: 900px;
    line-height: 60px;
}
.grey-qo-regular {
    font-family: "Grey Qo", cursive;
    font-weight: 400;
    font-style: normal;
  }
  .head-span {
    font-size: 100px;
    font-weight: 800px;
  }
  .free-workout{
    background-color:rgba(255, 255, 255, 0.1);
    color: white;
    padding: 10px 20px;
    line-height: 10px;
    border-radius: 8px;
    width: max-content;
    position: absolute; 
    top: 25%;
    left: 65%;
  }
  .video-tutorial{
    background-color:rgba(255, 255, 255, 0.1);
    color: white;
    padding: 10px 20px;
    line-height: 10px;
    border-radius: 8px;
    width: max-content;
    position: absolute; 
    top: 70%;
    left: -20%;
    align-items: center;
    gap: 15px;
  }
  .fa-circle{
    background-color: red;
    font-size: 25px;
    box-sizing: border-box;
    border-radius: 15px;
  }
 
.button-btn-extra{
    box-sizing: border-box;
    border: 1px solid rgb(255, 255, 255);
    font-size: 15px;
    font-weight: 600px;
    background-color: black;
    color:rgb(255, 255, 255);
    padding: 10px 30px 10px 30px;
    border-radius: 35px; 
    margin-left: 10px;
}
/* section change habits */

.habits-title > h2{
    font-size: 48px;
    font-weight: 900;
}
.habit{
    text-align: center;
    max-width: 1080px;
    height: 550px;
    margin: 0 auto;
    background-color:rgb(17, 17, 17);
    padding: 80px 120px;
}
.habit-images-container{
    display: flex;
}
.habit-images{
    padding: 20px;
}
.habit-images img{
    border-radius: 50%;
    border:5px solid rgb(33, 32, 32) ;
    width: 180px;
    height: 170px;
}

/* section run */
.run{
    max-width: 1080px;
    padding: 80px 150px;
    background-color:rgb(17, 17, 17);
}
.run-container{
    background-color: rgb(34, 34, 34);
    height: 370px;
    justify-content: space-between;
    align-items: center;
    border-radius: 18px;
    padding: 30px;
}
.run-pic > img{
    width: 360px;
    height: 310px;
    border-radius: 8px;
}
.run-title > h2{
    font-size: 38px;
    font-weight: 900;
}
/* section BMI */

.bmi-calculetor{
    background-color:rgb(17, 17, 17);
    margin-top: -40px;
    padding-top: 20px;
}
.bmi-title{
    padding-bottom: 30px;
}
.bmi-container{
    max-width: 1080px;
    height: 450px;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(34, 34, 34);
    padding: 20px 150px;
}

.bmi-table > h3{
    font-size: 28px;
    font-weight: 900;
}
.bmi-calculetor-table{
    width: 577px;
    height: 386px;
    padding-top: 60px;
}
.bmi-calculetor-table > h3{
    font-size: 28px;
    font-weight: 900;
}
.bmi-table > table{
    font-size: 15px;
    font-weight: 400px;
    width: 310px;
    height: 210px;
}
.from-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.from-box{
    width: 47%;
    margin-top: 10px;    
    border-radius: 10px;
}
.from-container input, select{
    width: 100%;
    height: 30px;
}
.from-box-2{
    width: 100%;
    margin: 15px 0px;
}
/* meet your team */
.meet-our-team{
    background-color:rgb(17, 17, 17);
    max-width: 1080px;
    height: 730px;
    padding: 20px 150px;
}
.team-title{
    padding: 30px 0px;
}
.team-img-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap:20px;
    justify-content: space-around;
}
.team-img-container, img{
    width: 300px;
    height: 250px;
    border-radius: 10px;
}

/*section footer */
.footer{
    background-color:black;
    min-height: 430px;
}

.text-container{
    max-width: 1080px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 50px;
    padding: 30px;
}

.footer-link a{
    font-size: 20px;
    text-decoration: none;
    margin-bottom: 15px;
}

.title2{
    font-size: 2rem;
    font-weight: 700;
    color: rgb(255, 255, 255);
}
.logo-text{
    max-width:443px ;
}

.copyright-text{
    max-width: 1060px;
    margin: 0 auto;
    font-size: 20px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
    padding: 40px 10px;
}

@media screen and (max-width:576px) {
    
    .header, .header-box, .image-container{
        flex-direction: column;
    }
   .header{
    padding: 0px;
   }
   .header-title, .header-img{
    width: 100%;
   }
   .free-workout{
    position: absolute;
    top: 10%;
    left: 50%;
   }
   .video-tutorial{
    position: absolute;
    top: 50%;
    left: 7%;
   }
 .nav-item{
    display: none;
 }
    /* habits */
    .habit{
        padding: 10px 0px;
        margin-top:-40px;
    }
    .habit-images-container{
        flex-direction: column;
        background-color:rgb(17, 17, 17);
    }
    .habits-title{
       padding: 20px 20px;
    }
    
    /* section run */
    .run{
        margin-top: 1120px;
        padding: 20px 10px ;
    }
    .run-container{
        flex-direction: column;
        margin: 20px;
        width: 260px;
        height: 600px;
    }
    .run-pic > img{
        width: 280px;
        height: 220px;
    }
    /* bmi-calculetor */
    .bmi-calculetor{
        height: 1000px;
        background-color: black;
    }
    .bmi-calculetor-table{
        width: 340px;
        height: 100px auto;
       
    }
    .bmi-container{
        flex-direction: column;
    }

    .from-box{
        margin-top: 10px;    
        border-radius: 10px;
        font-size: 25px;
        font-weight: 400px;
    }
    .from-container input, select{
        height: 40px;
        width: 50px auto;
    }
    
/* meet-our-team */
.meet-our-team{
    padding: 20px 20px;
    height: 2100px;
}
.team-img-container{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding: 0px 20px;
    background-color: rgb(34, 34, 34);
    height: 1800px;
}
/* footer section */
.text-container{
    flex-direction: column;
}

    /* .skills-container, .resume-container, footer , .about-items, .banner, nav, nav > ul{
        flex-direction: column;
    }
    nav > ul{
        gap: 20px;
    }
    .banner{
        margin: 20px;
    }
    .btn-primary{
        margin-bottom: 20px;
    }
    .header{
        background-image: none;
    }
    .banner-title{
        font-weight: bold;
        font-size: 30px;
    }
    .about{
        padding: 20px;
    }
    footer{
        padding: 20px;
        flex-direction: column;
    }
    .footer-colum{
        width: 100%;
    }
    footer input[type="text"], footer input[type="email"], footer textarea{
        width: calc(100% - 40px);
    } */
}